<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>Servletlogin</servlet-name>
    <servlet-class>com.xyztech.jsp.servlet.Servletlogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FoodServelet</servlet-name>
    <servlet-class>com.xyztech.jsp.servlet.FoodServelet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FoodInsertServelet</servlet-name>
    <servlet-class>com.xyztech.jsp.servlet.FoodInsertServelet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletefoodServlet</servlet-name>
    <servlet-class>com.xyztech.jsp.servlet.DeletefoodServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditfoodServlet</servlet-name>
    <servlet-class>com.xyztech.jsp.servlet.EditfoodServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IdCodeServlet</servlet-name>
    <servlet-class>com.xyztech.jsp.servlet.IdCodeServlet</servlet-class>
  </servlet>
  <!-- 过滤器配置文件 -->
   <filter>
    	<filter-name>FilterTool</filter-name>
    	<filter-class>com.xyztech.jsp.util.FilterTool</filter-class>
    	<init-param>
    		<param-name>CodeFormat</param-name>
    		<param-value>UTF-8</param-value>
    	
    	</init-param>
    </filter>





  <servlet-mapping>
    <servlet-name>Servletlogin</servlet-name>
    <url-pattern>/Servletlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FoodServelet</servlet-name>
    <url-pattern>/FoodServelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FoodInsertServelet</servlet-name>
    <url-pattern>/FoodInsertServelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletefoodServlet</servlet-name>
    <url-pattern>/DeletefoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditfoodServlet</servlet-name>
    <url-pattern>/EditfoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IdCodeServlet</servlet-name>
    <url-pattern>/IdCodeServlet</url-pattern>
  </servlet-mapping>
  <filter-mapping>
  	<filter-name>FilterTool</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>