<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>servletlogin</servlet-name>
    <servlet-class>com.xyztech.jsp.servlet.servletlogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FoodServelet</servlet-name>
    <servlet-class>com.xyztech.jsp.servlet.FoodServelet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FoodInsertServelet</servlet-name>
    <servlet-class>com.xyztech.jsp.servlet.FoodInsertServelet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletefoodServlet</servlet-name>
    <servlet-class>com.xyztech.jsp.servlet.DeletefoodServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditfoodServlet</servlet-name>
    <servlet-class>com.xyztech.jsp.servlet.EditfoodServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IdCodeServlet</servlet-name>
    <servlet-class>com.xyztech.jsp.servlet.IdCodeServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>servletlogin</servlet-name>
    <url-pattern>/servletlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FoodServelet</servlet-name>
    <url-pattern>/FoodServelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FoodInsertServelet</servlet-name>
    <url-pattern>/FoodInsertServelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletefoodServlet</servlet-name>
    <url-pattern>/DeletefoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditfoodServlet</servlet-name>
    <url-pattern>/EditfoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IdCodeServlet</servlet-name>
    <url-pattern>/IdCodeServlet</url-pattern>
  </servlet-mapping>

</web-app>